.column {
    background: #f0f0f0;
    height: 1000px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0 0 0;
    max-width: 200px;
    width: 120px;
}
hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.column h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.cards {
    margin-top: 10px;
    width: 90%;
    display: grid;
    gap: 20px;
}